@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Press+Start+2P&family=Rubik+Mono+One&family=Space+Mono:wght@700&display=swap");

:root {
  --backgroundColor: rgb(250, 213, 234);
  --hoverFontColor: rgb(61, 127, 204);
  --colorShadeA: rgb(111, 177, 205);
  --colorShadeB: rgb(122, 171, 192);
  --colorShadeC: rgb(165, 195, 208);
  --colorShadeD: rgb(206, 237, 251);
  --colorShadeE: rgb(225, 238, 244);
}

* {
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "OpenSans", sans-serif;
  font-size: 1rem;
  line-height: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  background: var(--backgroundColor);
}

h1 {
  font-family: "Rubik Mono One";
  color: var(--colorShadeC);
  -webkit-text-stroke: 1px var(--hoverFontColor);
}
